<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicattack-back-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicattack-back-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicattack-back-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{96,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicattack-front-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{128,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicattack-front-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{160,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicattack-front-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{192,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicattack-front-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{224,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicattack-left-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{256,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicattack-left-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{288,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicattack-left-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{320,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicattack-right-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{352,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicattack-right-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{384,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicattack-right-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{416,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{448,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{480,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{512,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-back-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{544,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-back-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{576,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-back-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{608,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-back-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{640,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-back-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{672,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-left-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{704,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-left-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{736,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-left-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{768,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-left-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{800,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-left-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{832,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-left-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{864,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-left-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{896,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-right-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{928,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-right-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{960,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-right-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{992,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-right-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1024,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-right-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1056,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-right-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1088,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-right-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1120,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkfront1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1152,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkfront2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1184,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkfront3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1216,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkfront5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1248,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkfront6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1280,0},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>thief.png</string>
            <key>size</key>
            <string>{1312,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ed8ee5accd5835601bfd9b72c91440:d12eabd22fe647de4eca6e9629d1b9b8:9f88f7e438564ab29d034c7322bce18c$</string>
            <key>textureFileName</key>
            <string>thief.png</string>
        </dict>
    </dict>
</plist>
